<ion-view view-title="Dash" name="dash-view">
  <ion-content class="padding" style="background: url(img/login3.png) center; background-size: cover;">
<br>    
    <center>
      <button class="button icon-center ion-search button-large button-dark" on-touch="scanBarcode()">
        Scan
      </button>
    </center>
<br>
<hr>
<br>
    <div ng-controller="scanBarcode">
      <p>&nbsp&nbspCodigo: {{ datos[0].st_codigo2 }}</p>
      <p>&nbsp&nbspNombre: {{ datos[0].st_larga }}</p>
      <p>&nbsp&nbspPrecio: {{ datos[0].st_precio1 | currency }}</p>
      
      <ion-list>
        <ion-item ng-repeat="data in datos">
          <ion-row>
            <strong><p>Almacen Nro - {{ $index + 1 }}: Cant. {{ data.st_actual1 }}</p></strong>
          </ion-row>
          <center>
            <div>
              <ion-row>
                <a class="button icon icon-right ion-archive" href="#/order/{{ $index + 1 }}/{{ datos[0].st_codigo2 }}">Pedir</ion-icon></a>
              </ion-row>
              <ion-row>
                <a class="button icon icon-right ion-printer" href="#/sticker/{{ $index + 1 }}/{{ datos[0].st_codigo2 }}">Etiqueta</a>
              </ion-row>
              <ion-row>
                <a class="button icon icon-right ion-arrow-swap" href="#/vtoProx/{{ $index + 1 }}/{{ datos[0].st_codigo2 }}">Vto Prox</a>
              </ion-row>
          <br>
              <ion-row>
                <a class="button icon icon-right ion-plus-circled" href="#/maxNum/{{ $index + 1 }}/{{ datos[0].st_codigo2 }}">Stock Max</a>
              </ion-row>
              <ion-row>
                <a class="button icon icon-right ion-minus-circled" href="#/minNum/{{ $index + 1 }}/{{ datos[0].st_codigo2 }}">Stock Min</a>
              </ion-row>
            </div>
          </center>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>