<ion-view view-title="Login">
  <ion-content class="padding" style="background: url(img/login3.png) center; background-size: cover; padding-top: 10%;">
      <center>
        <div>
          <img src="img/aidaLogo.png">
          <h1 class="text_style">aidaScan</h1>
        </div>
      </center>
<hr>
<BR>
        <center>
          <label>
            <strong>LOGEADO INTERNO</strong>
          </label>
        <ion-checkbox style="background: transparent; border-style: none" ng-model="data.isChecked"></ion-checkbox></center>


      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" placeholder="Usuario" maxlength="25" ng-model="data.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Contraseña" maxlength="25" ng-model="data.password">
        </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  </ion-content>
</ion-view>