<ion-view view-title="MinNum" name="minNum-view">
  <ion-content class="padding" style="background: url(img/login3.png) center; background-size: cover;">
<br>  	
  	<center>
		<div>
			<h1>aidaScan</h1>
		</div>
	</center>
<hr>
<br>
    <center>
    	<div>
    		<strong>Almacen: </strong>{{ idstore }} <br>
			
			<ion-row>
				<p>Minimo Invierno</p> <p>Actual: {{ minWinter }}</p>
				<label class="item item-input">
		          	<input type="number" maxlength="4" min="0" max="9999" ng-model="data.cantMinWinter">
		        </label>

		        <p>Minimo Verano</p> <p>Actual: {{ minSummer }}</p>
		        <label class="item item-input">
		          	<input type="number" maxlength="4" min="0" max="9999" ng-model="data.cantMinSummer">
		        </label>

			</ion-row>
			
	        <button class="button button-block button-royal" ng-click="minimNum()">Enviar</button>
    	</div>
    </center>
  </ion-content>
</ion-view> 