<ion-view view-title="Sticker" name="sticker-view">
  <ion-content class="padding" style="background: url(img/login3.png) center; background-size: cover;">
<br>  	
    <center>
		<div>
			<h1>aidaScan</h1>
		</div>
	</center>
<hr>
<br>
    <center>
    	<div>
    		<strong><p class="text_style">Almacen: </p></strong><p class="text_style">{{ idstore }} </p><br>
			<strong><p class="text_style">Cod Prod: </p></strong><p class="text_style">{{ codigo }} </p><br><br>
<br>
	        <button class="button button-block button-calm" ng-click="print()">Imprimir</button>
    	</div>
    </center>
  </ion-content>
</ion-view> 